*{
    margin: 0;
    padding: 0;
}
#spd{
  font-family: "Dancing Script", cursive;
}

/* ..................navbar,logo,and carousel.......................... */

.customnav{
   background-color: #ffe4a6;
   height: 80px;
   
  
}

.logo{
    
    position: absolute;
    left: 60px;
    top: 8px;
    z-index: 10;
    

}




/* ..................corousel control color...................... */





.custom-arrow {
    width: 40px;
    height: 40px;
    background-color: rgb(32, 32, 227);
    border-radius: 50%;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .....................corousel indicator shape and color....................... */

.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
  
  border-radius: 50% !important;           /* Perfect circle */
  background-color: white !important;
  border: none !important;
}

.carousel-indicators .active {
  background-color: blue !important;
}


/* ....................................you are in for a treat........................... */



.btn-primary:hover {
  background-color: white !important;
  color: blue !important;
  border-color: blue ;
}












.btn{
  width: 150px;
}





  .yahhhh{
    background-color: rgba(245, 242, 242, 0.286);
  }
.child{
  
 background-image: linear-gradient(rgba(0, 0, 0, 0.245), rgba(0,0,0,0.6)), url(https://cdn.totallythebomb.com/wp-content/uploads/2023/02/blue-bell-ice-cream-1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
  
  .head{
    color: white;
    font-weight: 900;
    padding-left: 35%;
    padding-top: 45%;
    
  }

  .BTN2{
    width: 200px;
    color: blue;
    border-color: white;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px;
  }

  
  .BTN2:hover{
   
    color: white;
    border-color: blue;
    background-color: blue;
    
  }


 .btn3{
    color: white;
    border-color: blue;
    background-color: blue;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    
 }
 .btn3:hover{
   color: blue;
    border-color: blue;
    background-color: white;
 }
.yoooo{
  background-color: #ffe4a6;
}

/* ............................ */
.yeee{
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSiw3iAw_48fEJCSUUEH7XrLHwJ_i8P46huRdXSPxHdJHqJDBEX);
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ....................wood............................. */

#wood{
  background-image: url(https://landscapearchitect.com/products/images/10345-58269-WT-Red-Cumaru-001-Web.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#tshirt{
  display: flex;
}
#tshirttext{
  padding-top: 10%;
  padding-left: 10%;
}

/* ..................endimages.................. */
.icon{
  list-style-type: none;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 30px;
  text-decoration: none;
  color: rgb(30, 30, 107);
}
.icon:hover{
font-size: 33px;
}

#endimg{
  padding-top: 5%;
}

.endhead{
  font-size: 60px;
  padding-bottom: 20px;
}

.endgrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

/* ..................footer.......................... */
.bottom{
  background-color: rgb(54, 54, 150);
}

.iconns{
  display: flex;
  justify-content:center;
  
  
}
.iconn{
  list-style-type: none;
  padding-left: 50px;
  font-size: 20px;
  padding-top: 50px;
  font-weight: 700;
  
}

.iconn a {
  color: #ffe4a6; 
  text-decoration: none; 
}


.iconn a:hover {
  text-decoration: underline; 
}

/* ............................................................................ */


.iconnns{
  display: flex;
  justify-content:center;
  
  
}
.iconnn{
  list-style-type: none;
  padding-left: 50px;
  font-size: 15px;
  padding-top: 10px;
  
}

.iconnn a {
  color: #f3d89b; 
  text-decoration: none; 
}


.iconnn a:hover {
  text-decoration: underline; 
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.links{
  display: flex;
  justify-content: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 70px;
  margin-bottom: 0;
  
}
.link{
  padding: 0px 10px;
  margin-left: 20px;
  font-size: 30px;
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
  color: rgb(6, 6, 116) ;
  
  
}

.link:hover {
 
 font-size:32px ;
}








html{
  scroll-behavior: smooth;
}



/* responsive */

/* ====================== RESPONSIVE FIXES ======================= */

/* -------- Navbar -------- */
@media (max-width: 992px) {
  .logo {
    position: static;
    margin: 10px auto;
    display: block;
  }

  .navbar {
    height: auto;
    padding: 10px 0;
  }

  .navbar-collapse {
    background-color: #ffe4a6;
    text-align: center;
    padding: 15px 0;
  }

  .navbar-nav {
    gap: 10px !important;
  }
}

/* -------- Carousel -------- */
.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .custom-arrow {
    width: 30px;
    height: 30px;
    font-size: 22px;
  }
}

/* -------- Treat Section -------- */
@media (max-width: 768px) {
  #mid .row {
    flex-direction: column;
  }

  .yahhhh {
    order: 2;
  }

  .child {
    order: 1;
    padding: 40px 10px;
  }

  .head {
    text-align: center;
    padding: 80px 0;
  }

  .BTN2 {
    margin-left: 0;
    margin-top: 15px;
  }
}

/* -------- Visit & Over 100 Years -------- */
@media (max-width: 768px) {
  .yoooo,
  .yeee {
    text-align: center;
    padding: 30px 15px;
  }

  .btn3 {
    margin: 10px;
  }
}

/* -------- Wood Section -------- */
@media (max-width: 992px) {
  #tshirt {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px;
  }

  #tshirt img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  #tshirttext {
    padding: 30px 0;
  }
}

/* -------- Sweet Moments (End Images) -------- */
@media (max-width: 992px) {
  .endgrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .endgrid {
    grid-template-columns: 1fr;
  }

  .endhead {
    font-size: 40px;
  }
}

/* -------- Footer -------- */
@media (max-width: 768px) {
  .iconns,
  .iconnns,
  .links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .iconn,
  .iconnn {
    padding: 8px 0;
  }

  .link {
    margin: 8px;
    font-size: 25px;
  }
}

/* -------- General Text Scaling -------- */
@media (max-width: 576px) {
  h1, h2, h3 {
    font-size: calc(1rem + 1.2vw);
  }

  p {
    font-size: 14px;
  }
}
